@import "../../styles/global.scss";

.servicesSection {
    padding-top: 70px;
}

.serviceCard {
    &__icon {
        margin: 0 auto;
        margin-top: 30px;
        width: 100px;
    }
    &__title {
        font-weight: $bold;
        font-size: $large;
        margin-bottom: 45px;
    }
    &__block {
        @extend %border-shadowed;
        padding: 40px;
        margin-bottom: 45px;
    }
}


    
