.casesSection {
    h2 {
        text-align: center;
        font-weight: 700;
    }
}
.case {
    --bs-gutter-x: 0 !important;
    padding: 10px;
    &__img {
        border-radius: 10px;
        background-color: aqua;
    }
    &__descr {
        padding-left: 10px;
        &_title {
            font-weight: 700;
        }
    }
}