.Home__BgImage {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home__Logo__Container {
  width: 40%;
}

.Home__Title {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 16px;
}
