@import "../../../styles/global.scss";
.bitway-paragraph {
  color: $primary;
  margin-bottom: 20px;
  & p {
    font-family: $primary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
  }
  & > div > p {
    font-family: $primary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    // padding: 0 80px 20px;
    & * {
      font-size: 20px;
    }
    & a {
      color: $blue;
    }
  }
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: $blue;
    font-family: $primary-font;
    font-size: $large;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin: 40px 0 45px;
    & span {
      font-size: $large;
      background-color: $blue;
      padding: 0 10px;
      margin: 0 0 0 5px;
      transform: skew(-15deg);
      display: inline-block;
      & p {
        font-size: $large;
        font-weight: $bold;
        margin: 0;
        display: inline-block;
        color: $primary-container;
        transform: skew(15deg);
      }
    }
  }
}

@media (max-width: 992px) {
  .bitway-paragraph {
    & p {
      font-family: $primary-font;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: justify;
    }
    & > div > p {
      font-family: $primary-font;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: justify;
      // padding: 0 20px 0px 0px;
      & * {
        font-size: 15px;
      }
      & a {
        color: $blue;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .bitway-paragraph {
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: $extra-large;
      & span {
        padding: 15px 10px 5px;
        & p {
          font-size: $extra-large;
        }
      }
    }

    & > div > p {
    padding: 0 80px 20px;
    }
  }
}
