@import "../../styles/global.scss";

.quote {
  display: grid;
  gap: 3em;

  &-body {
    grid-area: quote-body;
    img {
      width: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      object-fit: cover;
    }
  }

  &-person {
    grid-area: quote-person;
    display: flex;
    flex-direction: column;

    &-title {
      font-weight: 700;
    }
    &-text {
      font-weight: 700;
      max-height: 300px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &-profile {
    grid-area: quote-profile;
    flex-grow: 0;
    align-self: flex-start;
    border-radius: 50%;
    width: 100%;
    z-index: 4;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .markdown {
      p {
        margin: 0;
      }
    }
  }
  &-btn {
    button {
      @include primaryBtn;
      border-radius: 8px;
      width: 131px;
      height: 30px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .quote {
    &-btn {
      button {
        width: 150px;
        height: 40px;
      }
    }
  }
}

// variantes
.variant {
  &-quote {
    grid-template-areas: "quote-person quote-body" "quote-profile quote-body";
    grid-template-columns: 1fr 2fr;
    @extend .variant;
  }

  &-image {
    grid-template-areas: "quote-body quote-person" "quote-body quote-profile";
    grid-template-columns: 2fr 1fr;
    @extend .variant;
  }

  grid-template-rows: auto 1fr;
  @media screen and (max-width: $breakpoint-lg) {
    grid-template-areas: "quote-body quote-body" "quote-profile quote-person";
    grid-template-columns: auto 1fr;
    padding: 1em;
  }

  @media screen and (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    p {
      margin-bottom: 0;
    }
  }
}
