@import "../../styles/global.scss";

.container-text {
  .text {
    color: $primary;
    .title {
      width: 100%;
      .titleText {
        margin: 0;
        text-transform: uppercase;
        margin-top: 2rem;
      }
    }
    .description {
      background-color: $primary-container;
      padding-bottom: 3rem;
      p:first-child {
        padding-top: 1rem;
      }
      p {
        padding: 0rem 1rem;
      }
    }
  }
  .container-markdown {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .notTitle {
      color: $primary;
      border-radius: 20px;
      background-color: $primary-container;
      padding: 1rem;
      margin: 1rem;
      p:nth-last-child(2) {
        margin-bottom: 0px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container-text {
    .text {
      .title {
        padding-top: 4rem;
      }
      .description {
        p:first-child {
          padding-top: 4rem;
        }
      }
    }
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .container-text {
    .text {
      .description {
        p {
          padding: 0rem 2.5rem;
          padding-right: 7rem;
        }
      }
    }
  }
}
