@import "../../styles/global.scss";

.Text {
  padding: 64px 0;
  background-position: center center;

  &__wrapper {
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
  }

  &__title {
    flex: 1;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__description {
    flex: 2;
    background-color: $primary-container;
    border-radius: 10px;
    padding: 32px 16px;
    @media (min-width: $breakpoint-lg) {
      padding: 24px 32px;
    }

    p {
      text-wrap: pretty;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      margin-right: 8px;
    }
  }

  @media (min-width: $breakpoint-lg) {
    &__wrapper {
      gap: 64px;

      &.Top {
        gap: 24px;
        background-color: $primary-container;
        border-radius: 10px;
        padding: 32px 16px;
        align-items: center;
        @media (min-width: $breakpoint-xl) {
          padding: 24px 32px;
        }

        .Text__description {
          padding: 0;
        }
      }

      &.Left {
        flex-direction: row;
      }

      &.Right {
        flex-direction: row-reverse;
      }
    }
  }
}
