@import "../../styles/global.scss";

.container-text {
  .text {
    color: $primary;
    .title {
      .titleText {
        text-transform: uppercase;
        margin-top: 2rem;
      }
    }
    .description {
      background-color: $grey-light-bg;
     
      p:first-child {
        padding-top: 1rem;
      }
      p:last-child {
        margin-bottom: 0.5rem;
      }
      p {
        color: $black;
        padding: 0rem 0.5rem;
      }
    }
  }
  .container-markdown {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .notTitle {
      color: $primary;
      border-radius: 20px;
      background-color: $white;
      padding: 1rem;
      margin: 1.5rem 0rem;
      p:nth-last-child(-n+2) {
        margin-bottom: 0px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container-text {
    .text {
      .title {
        padding-top: 4rem;
      }
      .description {
        margin-left: 2rem;
        margin-top: 2rem;
      }
    }
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .container-text {
    .text {
      .description {
        p {
          padding: 0rem 2rem;
        }
      }
    }
  }
}
