@import "../styles/global.scss";

.detail {
  &__container {
    color: $primary;
    width: 100%;
    margin: 0 auto;

    p {
      font-size: $small;
    }
  }

  &__description-author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }

  &__description {
    margin-bottom: 2rem;
    padding: 2rem 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: $large;
      color: $blue;
      em {
        font-size: $large;
      }
    }

    p,
    strong,
    em {
      font-size: $small;
      line-height: normal;
      text-align: justify;
    }

    ul,
    ol {
      padding: 0.5rem;
      margin-top: -1rem;
      margin-left: 0;

      li {
        margin-left: 1rem;
        font-size: $small;
        line-height: normal;
        text-align: justify;

        &::marker {
          color: $blue;
          font-size: $small;
        }
      }
    }

    a {
      font-size: $small;
      font-weight: $standard;
      color: $blue;

      &:hover {
        font-weight: $bold;
      }
    }

    img {
      display: block;
      max-width: 95%;
      margin: 1.8rem auto 3rem;
      border-radius: 3px;
    }

    blockquote {
      p {
        position: relative;
        padding: 1rem;
        border-left: 5px solid $blue;
        background: $blog-card-container;

        strong {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-top: 1.5rem;
          margin-right: 1rem;
          font-style: italic;
        }
      }

      :nth-child(even) {
        border-left: 5px solid $yellow;
      }
    }
  }
  &__box-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 20px 0;
    background: $blog-card-container;
    border-radius: 5px;
    box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
    overflow: hidden;
    z-index: 0;
  }

  &__box-author-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 130px;
      height: 130px;
      margin: 10px auto;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: none;
    }
  }

  &__box-autor-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h5 {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: $medium;
    }

    h6 {
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: $standard;
      color: #969696;
      line-height: 14px;
      letter-spacing: 0.05rem;
    }

    p {
      font-size: $small;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      margin-bottom: 15px;
    }
  }

  &__sidebar {
    position: sticky;
    top: 40px;

    &__blog-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
      overflow: hidden;
      z-index: 0;
    }

    &__blog-card-description {
      position: relative;
      padding: 1rem;
      z-index: 1;

      h3 {
        position: relative;
        margin: 0;
        font-size: $medium;

        &:before {
          content: "";
          position: absolute;
          width: 35px;
          height: 5px;
          margin-top: 1.2rem;
          background: $blue;
        }
      }

      p {
        margin: 1rem 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        font-size: $small;
      }
    }

    &__blog-card-more {
      position: relative;
      display: block;
      text-align: right;
      margin-top: -0.8rem;

      a {
        font-size: $small;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .detail {
    &__description {
      p,
      strong,
      em {
        font-size: 18px;
      }

      ul,
      ol {
        li {
          font-size: 18px;
          line-height: normal;

          &::marker {
            font-size: 18px;
          }
        }
      }

      a {
        font-size: 18px;
      }

      blockquote {
        p {
          padding-top: 2rem;
          padding-left: 3rem;
          padding-right: 1rem;
          padding-bottom: 1rem;

          &:before {
          content: "\201C";
          position: absolute;
          top: 45px;
          left: 10px;
          font-size: 5em;
          font-style: italic;
          color: #e7e6e4;
          z-index: 1;
          font-family: "Sanchez", sans-serif;
        }

        strong {
          font-size: 18px;
        }
        }
      }
    }

    &__box-author {
      margin: 1.5rem 1rem;
    }

    &__box-autor-description {
      width: 90%;
      padding: 0 1rem;
    }
  }
}

@media (min-width: 1280px) {
  .detail {
    &__container {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    &__description-author {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__description {
      padding: 4rem 2rem 3rem;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 30px;
      }

      p,
      strong,
      em {
        font-size: $medium;
        line-height: normal;
      }

      ul,
      ol {
        li {
          font-size: $medium;
          line-height: normal;
          &::marker {
            font-size: $medium;
          }
        }
      }

      a {
        font-size: $medium;
      }

      img {
        max-width: 85%;
      }

      blockquote {
        p {
          font-size: 17px;
          line-height: normal;
        }
      }
    }

    &__box-author {
      margin: .7rem;
    }

    &__box-autor-description {
      width: 100%;

      h5 {
        font-size: $medium;
      }
      h6 {
        font-size: $small;
      }

      p {
        font-size: 16px;
        line-height: normal;
      }
    }

    &__box-author-image {
      img {
        width: 150px;
        height: 130px;
      }
    }

    &__sidebar {
      &__blog-card {
        flex-direction: row;

        .photo {
          flex-basis: 40%;
          height: auto;
        }
      }

      &__blog-card-description {
        p {
          line-height: normal;
        }
      }
    }
  }
}
