@import "../../styles/global.scss";

.form {
  color: $primary;
  padding: 5rem 0;

  .title {
    text-transform: uppercase;
  }

  .form-wrapper {
    color: $black;
    width: 100%;
    min-height: 700px;
    background-color: $bg-form;
    border-radius: 10px;
    padding: 2rem 2rem 1rem;
    position: relative;

    &>div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
  }

  &__img {
    img {
      padding: 3rem 1rem;
      max-width: 250px;
    }

    svg {
      max-width: 350px !important;
    }
  }

  &__content {
    p {
      font-weight: $bold;
      font-size: 28px;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .form {
    &__content {
      p {
        font-size: 36px;
      }
    }
  }
}