@import "../../styles/global.scss";

.form {
  color: $primary;
  padding: 5rem 0;
  .title {
    text-transform: uppercase;
  }
  .hubspot-form-wrapper {
    background-color: $bg-form;
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > div {
      width: 100%;
    }
  }
  &__img {
    img {
      max-width: 250px;
    }

    svg {
      max-width: 350px !important;
    }
  }
  &__content {
    p {
      font-weight: $bold;
      font-size: 28px;
    }
  }
}
@media screen and (min-width: $breakpoint-lg) {
  .form {
    &__content {
      p {
        font-size: 36px;
      }
    }
  }
}
