@import "../../../styles/global.scss";

.ContactData__Item {
  margin: 0px !important;

  &__location {
    display: block;
    color: $white;

    p {
      font-size: 18px;
    }

    .icon-text {
      margin-bottom: 16px;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }
  }
}