@import "../../../styles/global.scss";

.Footer__location {
  margin: 0px !important;

  &__items {
    display: block;
    color: $white;

    .icon-text {
      font-size: 18px;
      margin-bottom: 16px;
      align-items: center;
      max-width: 80%;
      text-wrap: pretty;

      svg {
        margin-right: 8px;
      }
    }
  }
}
