@import "../../../styles/global.scss";

.ContactData__Item {
  ul {
    li {
      list-style: none;

      a {
        color: $white;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .ContactData__Item {
    ul li a {
      font-size: 18px;
    }
  }
}
