@import "../../../styles/global.scss";

.ContactData__Item {

  h6 {
    font-size: 22px;
  }

  ul {
    li {
      list-style: none;

      a {
        color: $white;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .ContactData__Item {
    ul li a {
      font-size: 18px;
    }
  }
  h6 {
    font-size: inherit;
  }
}
