@import "../../../styles/global.scss";

.grid {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 4px solid #dedede;

    h2 {
      padding-left: 0.5rem;
      color: $primary;
      font-size: 28px;
      margin: 0;
    }

    .grid__view-all {
      font-size: 0.9rem;
      text-decoration: none;
      color: $primary;
      margin-right: 1rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  &__content {
    display: grid;
    /* Siempre tres columnas iguales */
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    /* Dos columnas para tablet */
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    /* Una columna para móvil */
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}





