@import "../../../styles/global.scss";
.grid {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 4px solid #dedede;

    h4 {
      padding-left: 0.5rem;
      color: $primary;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .grid {
    &__container {
      h4 {
        padding-left: 1rem;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
