@import "../../../styles/global.scss";

.Footer__sites {
  flex-direction: column;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      margin-bottom: 10px;
    }

    a {
      color: $white;
      font-size: 18px;
      font-weight: $normal;
    }

    img {
      width: 30px;
      height: 15px;
      object-fit: cover;
      margin-right: 8px;
    }
  }
}
