@import "../../../../styles/global.scss";

.dropdownItem {

  width: 18.5rem;
  &_container {
    // overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    align-items: flex-start; /* Asegura que los elementos estén alineados al inicio */
    // max-width: 100vw;   
  }

  &_section {
    display: flex;
    width: 100%;
    padding: 20px;
    position: relative;
  }

  &_content {
    display: flex;
    flex-direction: row;
    gap: 0px; /* Espacio entre los dropdown items */
    width: 65%; /* Ocupa el 75% del espacio del contenedor, a la derecha */
  }

  &_topLevel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%; /* Ocupará el 25% del espacio del contenedor, ahora a la izquierda */
    padding-right: 20px;
    border-right: 2px solid #808080; /* Separador vertical a la derecha */
  }

  &_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding-bottom: 0.1rem;

    &-inner {
      text-align: start;
      color: $primary;
      padding: 2% 0;
      font-weight: $standard;

      &:hover {
        text-decoration: underline solid $primary;
      }
    }

    &-topLevel {
      padding-bottom: 0.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-right: "2px solid #808080"; // Línea de separación vertical
    }

    &-subLanding {
      font-size: 16px;
      color: $primary;
      align-items: center;
      &:hover {
        text-decoration: underline solid $primary;
      }
    }
  }
}


.navbarItemIcon {
  width: 100%;
  height: 100%;
  max-width: 28px;
  max-height: 28px;
  align-self: center;
  margin-right: 5px;

  img,
  picture {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.navbarItem_description {
  margin-left: 1.5rem;
  font-size: 14px;
  color: $primary;
  text-align: start;
}

.subLandingPages {
  list-style-type: none; 
  // padding: 0;          
  // margin: 3%;         
  text-align: start;
  margin-left: 1.7rem;

}

@media only screen and (max-width: 1200px) {
  .dropdownItem {
    &_container {
      flex-direction: column; // Cambia a una disposición vertical
    }

    &_section {
      // Cambia el estilo si es necesario
      padding-top: 28px;
      padding-right: 28px;
      padding-bottom: 14px;
      padding-left: 28px;
      display: flex;
      flex-direction: column; // Asegura que los subitems se alineen verticalmente
    }

    &_content {
      flex-direction: column; // Asegura que los items dentro también sean verticales
      width: 100%; // Ocupará el 100% del ancho
      gap: 16px;
    }

    &_topLevel {
      width: 100%; // Asegura que el top level ocupe todo el ancho
      border-right: none; // Elimina la línea de separación si no es necesaria
      margin-right: 0; // Elimina el margen derecho
      padding-bottom: 8px; // Añade un poco de espacio debajo del top level
      border-bottom: 2px solid #808080;
    }
  }

  .subLandingPages {
    margin-left: 1.3rem;
    // display: none; // Oculta los subitems en mobile
  }
}

