@import "../../../../styles/global.scss";

.dropdownItem {

  width: 18.5rem;
  &_container {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    align-items: flex-start; /* Asegura que los elementos estén alineados al inicio */
  }

  &_section {
    display: flex;
    width: 100%;
    padding: 20px;
    position: relative;
  }

  &_content {
    display: flex;
    flex-direction: row;
    gap: 0px; /* Espacio entre los dropdown items */
    width: 65%; /* Ocupa el 75% del espacio del contenedor, a la derecha */
  }

  &_topLevel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%; /* Ocupará el 25% del espacio del contenedor, ahora a la izquierda */
    padding-right: 20px;
    border-right: 2px solid #808080; /* Separador vertical a la derecha */
  }

  &_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;

    &-inner {
      text-align: start;
      color: $primary;
      padding-bottom: 8px;
      padding-top: 8px;
      font-weight: $standard;

      &:hover {
        text-decoration: underline solid $primary;
      }
    }

    &-topLevel {
      padding-bottom: 0.1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-subLanding {
      font-size: 16px;
      color: $primary;
      align-items: center;
      &:hover {
        text-decoration: underline solid $primary;
      }
    }
  }
}


.navbarItemIcon {
  width: 100%;
  height: 100%;
  max-width: 28px;
  max-height: 28px;
  align-self: center;
  margin-right: 5px;

  img,
  picture {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.navbarItem_description {
  margin-left: 1.5rem;
  font-size: 14px;
  color: $primary;
  text-align: start;
}

.subLandingPages {
  width: 100%;
  list-style-type: none;      
  text-align: start;
  margin-left: 1.7rem;
}

.two-column-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  max-height: calc(5 * 2rem); /* Ajusta el alto máximo según el tamaño de cada elemento */
  overflow: hidden; /* Oculta los elementos que excedan el límite de 10 */
  padding: 0;
  list-style: none;
}

.two-column-list li:nth-child(1n+11) {
  display: none; /* Oculta los elementos que superen el límite de 10 */
}

.dropdownItem_icon {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .dropdownItem {
    &_container {
      flex-direction: column; 
    }

    &_section {
      padding-top: 28px;
      padding-right: 28px;
      padding-bottom: 14px;
      padding-left: 28px;
      display: flex;
      flex-direction: column; 
      background-color: #2b2b2b; // Asegúrate de que el color coincida
      border-radius: 0;
    }

    &_content {
      flex-direction: column; 
      width: 100%; 
      gap: 16px;
    }

    &_topLevel {
      width: 100%; 
      border-right: none; 
      margin-right: 0; 
      padding-bottom: 8px; 
      border-bottom: 2px solid #808080;
    }
  }

  .subLandingPages {
    margin-left: 1.3rem;
    transition: max-height 0.3s ease; // Transición suave para el contenedor
    overflow: hidden; // Asegura que solo el contenido visible esté dentro del contenedor
  }

  .dropdownItem_icon {
    display: block;
    color: $primary;
    
    &.open {
      transform: rotate(180deg);
    }
  }
}


