@import "../../styles/global.scss";
.article {
    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px 0;
    }

    &__image {
        width: 290px;
        margin: auto 0;
        background-size: cover;

        img {
            height: 165px;
        }
    }

    &__link {
        text-align: end;
    } 

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5px 15px;

        h3 {
            padding-left: 0;
            margin-bottom: 15px;
            font-size: $small;
            font-weight: $max-bold;
        }

        p {
            margin-bottom: 15px;
            font-size: $small;
        }

       a {
           display: inline-block;
           margin-right: 0;
           font-size: $small;
           font-weight: $max_bold;
           text-decoration: none;
            color: $blue;
            border-bottom: 5px solid $yellow;
            cursor: pointer;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .article {
        &__container {
            flex-direction: column;
            padding: 25px 40px;
        }

        &__image {
            width: 100%;

            img {
                width: 500px;
                height: 100%;
            }
        }

        &__description {
            width: 100%;
            padding: 0;

            h3 {
                margin-top: 15px;
                font-size: $medium;
            }

            p, a {
                font-size: $medium;
            }
        }
    }
} 