@import "../../styles/global.scss";

.bitway-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bitway-odd bitway-even";
  padding: 20px;
  gap: 26px;
}

.bitway-body:nth-child(odd) {
  grid-area: bitway-odd;
}

.bitway-body:nth-child(even) {
  grid-area: bitway-even;
}

@media (max-width: 992px) {
  .bitway-body {
    grid-template-columns: 1fr;
    grid-template-areas: "bitway-even" "bitway-odd";
  }
}
