@import "../../styles/global.scss";

.ServiceCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 55px;

  &__container {
    padding: 1.5rem;
  }

  &__mainTitle {
    text-align: center;
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      font-size: $second-large;
      font-weight: $extra-bold;
      color: $blue;
      margin-bottom: 30px;
    }
    span {
      -webkit-text-stroke: 2px $blue;
      -webkit-text-fill-color: white;
    }
  }
  &__card {
    @extend %border-shadowed;
    padding: 30px 30px 16px;
    margin: 0 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__image {
    margin-bottom: 27px;
  }
  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: $large;
    font-weight: $max-bold;
    text-align: center;
    max-width: 200px;
    margin-bottom: 10px;
  }
  &__intro {
    font-size: $small;
    font-weight: $normal;
    text-align: center;
  }
  &__link {
    color: $blue;
    font-size: $large;
    font-weight: $max-bold;
    border-bottom: 4px solid $yellow;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .ServiceCards {
    &__mainTitle {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span {
        font-size: $extra-large;
      }
    }

    &__intro {
      font-size: $medium;
    }
  }
}
