@import "../../../styles/global.scss";
.article {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
  }

  &__image {
    width: 100%;
    height: 150px;
    transition: opacity 3s ease-in;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    padding: 0 15px;
    color: $primary;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 0;
      margin-bottom: 15px;
      font-size: $small;
      line-height: 1rem;
      font-weight: $max-bold;
      color: $blue;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    p {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      em {
        font-size: 12px;
      }
    }
  }

  &__link {
    text-align: end;

    a {
      padding: 7px;
      margin-right: 0;
      font-size: 12px;
      font-weight: $max_bold;
      text-decoration: none;
      color: $blue;
      border-bottom: 5px solid $yellow;
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .article {
    &__container {
      flex-direction: column;
      padding: 2rem;
    }

    &__image {
      width: 100%;
      height: 300px;
      margin-bottom: 1rem;
    }

    &__description {
      width: 100%;
      height: 200px;
      padding: 0;

      h3 {
        margin-bottom: 1.5rem;
        font-size: $large;
        line-height: 1.6rem;
        color: $blue;
        -webkit-line-clamp: 2;
      }

      p,
      a {
        font-size: 18px;
        line-height: 30px;

        em {
          font-size: 18px;
        }
      }
    }
  }
}
