@import "../../../styles/global.scss";

.article {
  color: $primary;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    color: $primary;
  }

  &__image {
    width: 100%;
    height: 170px;
    transition: opacity 3s ease-in;
    border-radius: 8px;
  }

  &__description {
    position: relative;
    width: 100%;
    height: 170px;
    padding: 0 0 0 15px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 0;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    h4 {
      text-wrap: pretty;
      line-height: 1.3rem;
      margin-bottom: 10px;
      font-size: $medium;
    }

    p {
      margin-bottom: 15px;
      line-height: 28px;
      font-weight: $standard;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__link {
    position: absolute;
    bottom: 15px;

    a {
      margin-right: 0;
      font-weight: $max_bold;
      cursor: pointer;
      text-decoration-line: underline;
      color: $link-blog;
      font-size: $small;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .article {

    &__link {
      bottom: 0;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .article {
    &__container {
      flex-direction: column;
      padding: 1rem;
    }

    &__image {
      width: 100%;
      height: 250px;
      margin-bottom: 1rem;
    }

    &__description {
      width: 100%;
      height: 190px;
      padding: 0;

      p {
        font-size: 18px;

        em {
          font-size: 18px;
        }
      }
    }
  }
}
