/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$primary-font: "Roboto", sans-serif;
$medium: 20px;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: $medium;
}

/* Colors */
$black:#2A2C2E;
$white: #FFFFFF;
$yellow: #FFE927;
$blue:#1ECAD3;

/* Sizes */
$small: 15px;
$medium: 20px;
$large: 25px; 
$second-large: 40px; 
$extra-large: 45px; 

/* Weights */
$normal: 400;
$standard: 500;
$bold: 600;
$max-bold: 700;

/* Borders */
$bottom-yellow: 4px solid $yellow;
%border-shadowed {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;




