/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;
$medium: 20px;

$nav-footer-container: var(--nav-footer-container);
$blog-card-container: var(--blog-card-container);

$primary: var(--primary);
$primary-invert: var(--primary-invert);
$primary-hover: var(--primary-hover);
$primary-container: var(--primary-container);

$secondary: var(--secondary);
$secondary-container: var(--secondary-container);
$border-bottom: var(--border-bottom);
$title-jobs: var(--title-jobs);
$jobs-hover: var(--jobs-hover);
$bg-form: var(--bg-form);



main {
  background-color: $primary-container !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: $medium;
  transition: color 200ms, background-color 200ms;
}

a {
  text-decoration: none;
}

/* Colors */
$black: #2a2c2e;
$white: #ffffff;
$yellow: #ffe927;
$blue: #1ecad3;
$grey-light: #f5f5f5;
//new colors
$grey: #545468;
$light-grey: #c4c4c4;
$alt: #67f293;
$blackBit: #242424;

/* Sizes */
$small: 15px;
$medium: 20px;
$large: 25px;
$second-large: 40px;
$extra-large: 45px;

//buttons
@mixin primaryBtn {
  padding: 5px 15px;
  font-weight: 500;
  border: none;
  background-color: $secondary;
  color: $primary-invert;
  border-radius: 5px;
  transition: filter 200ms ease-in;
  &:hover {
    filter: brightness(135%);
    box-shadow: 0px 3px 10px rgba(138, 254, 113, 0.5);
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding: 8px 30px;
  }
}

// new sizes
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

body {
  font-size: 16px;
  font-family: $secondary-font;
  p {
    em {
      font-size: 16px;
      font-family: $secondary-font;
    }
    font-size: 16px;
    font-family: $secondary-font;
  }
  button {
    font-size: 14px;
    font-family: $primary-font;
  }
  input {
    font-size: 14px;
    font-family: $primary-font;
  }
  h1 {
    font-size: 40px;
    font-family: $primary-font;
  }
  h2 {
    font-size: 36px;
    font-family: $primary-font;
  }
  h3 {
    span {
      font-size: 32px;
      font-family: $primary-font;
    }
    font-size: 32px;
    font-family: $primary-font;
  }
  h4 {
    font-size: 28px;
    font-family: $primary-font;
  }
  h5 {
    font-size: 24px;
    font-family: $primary-font;
  }
  h6 {
    font-size: 18px;
    font-family: $primary-font;
  }
  small {
    font-size: 16px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  body {
    font-size: 20px;
    p {
      em {
        font-size: 20px;
      }
      font-size: 20px;
    }
    h1 {
      font-size: 69px;
    }
    h2 {
      font-size: 53px;
    }
    h3 {
      span {
        font-size: 39px;
      }
      font-size: 39px;
    }
    h4 {
      font-size: 31px;
    }
    h5 {
      font-size: 25px;
    }
    h6 {
      font-size: 20px;
    }
    small {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
    input {
      font-size: 16px;
    }
  }
}

/* Weights */
$normal: 400;
$standard: 500;
$bold: 600;
$max-bold: 700;
$extra-bold: 900;

/* Borders */
$bottom-yellow: 4px solid $yellow;

%border-shadowed {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.notFoundPage {
  height: calc(100vh - 240px - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 3em;
  }
}
