@import "../../styles/global.scss";
.Cards {
  &__body {
    @extend %border-shadowed;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  &__title {
    color: $primary;
    font-weight: $max-bold;
    line-height: $large;
    text-align: center;
    padding: 90px 5px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h3{
      font-size: $medium;
    }
    &-logo {
      margin: 0 0;
    }
    img {
      margin: 0 0;
    }
  }
  &__container {
    padding-left: 0;
    padding-right: 0;
    &--submodules {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__description {
    background-color: rgba(255, 255, 255, 0.089);
    color: $primary;
    padding: 20px 25px;
    margin-bottom: 0;
    p {
      font-weight: $normal;
      font-size: 15px;
      line-height: 20px;
      text-align: justify;
    }
  }
  &__submodules {
    background-color: none;
    color: $primary;
    position: relative;
    padding: 0 10px;

    &__title {
      margin: 2em 0 30px 0;
      font-size: $medium;
      line-height: 18px;
      text-align: center;
      font-weight: $max-bold;
    }

    &__items {
      p {
        font-size: $small;
        text-align: center;
        margin: 5px 0 0 0;
      }
      p.no-border {
        padding-top: 0px;
        margin-top: 0;
        &:first-child {
          padding-top: 30px;
          border-top: solid 4px #1ecad3;
        }
      }
      h4 {
        font-size: 15px;
        line-height: 18px;
        font-weight: $bold;
      }
    }
  }
}
.no-mobile {
  display: none;
}

@media screen and (min-width: 992px) {
  .Cards {
    padding: 0px 50px;
    position: relative;
    &__body {
      box-shadow: none;
    }
    &__icon {
      position: absolute;
      transform: translate(60%, 60%);
    }
    &__title {
      text-align: start;
      flex-direction: row;
      align-items: flex-end;
      h3{
        font-size: $large;
      }
      &-logo {
        width: 115px;
        display: flex;
        justify-content: center;
        margin: 0 50px;
      }
      img {
        margin: 0;
      }
    }

    &__description {
      min-height: 200px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 18px;
      padding: 37px 44px 36px 38px;

      p {
        font-size: $medium;
        line-height: 26px;
      }
    }
    &__submodules {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 18px;
      background-color: rgba(255, 255, 255, 0.089);

      &--items {
        box-shadow: none;
        background-color: unset;
      }
      &__title {
        margin: 0 0 5px 0;
        line-height: 26px;
        text-align: start;
        padding: 25px 18px 0;
      }

      &__items {
        padding: 0 18px;
        p {
          text-align: start;
          font-size: $medium;
        }
        p.no-border {
          padding-top: 0px;
          &:first-child {
            padding-top: 10px;
          }
        }
      }
    }
  }
  .no-mobile {
    display: block;
  }
}

@media screen and (min-width: 1202px) {
  .Cards {
    padding: 0px 150px;
  }
}
@media screen and (min-width: 1552px) {
  .Cards {
    padding: 0px 300px;
  }
}
