@import "../../../styles/global.scss";

.Footer__subscription {
  h6 {
    font-size: unset;
    color: $white;
  }

  &__title {
    margin-bottom: 16px;
    display: none;
  }

  &__button {
    @include primaryBtn;
    display: none;
    width: max-content;
    font-size: 16px;
    padding: 10px 16px !important;
    box-shadow: 0px 2px 10px rgba(63, 107, 232, 0.5);
    margin-inline: auto;

    &.mobile {
      display: block;
    }
  }

  @media screen and (min-width: $breakpoint-sm) {
    &__title {
      display: block;
    }

    &__button {
      display: block;

      &.mobile {
        display: none;
      }
    }
  }
}
