@import "../../styles/global.scss";

.contact {
    display: flex;
    flex-wrap: wrap;
    &__group {
        padding-top: 20px;
        width: 85%;
        margin: 0 auto;
    }
    &__title {
        font-size: $large;
        color: $blue;
        font-weight: $max-bold;
        margin-bottom: 0px;
        padding: 60px 30px;
        text-align: center;
        span{
            background-color: $blue;
            display: inline-block;
            transform: skew(-15deg);
            height: 40px;
            p {
                color: $white;
                padding: 5px;
                display: inline-block;
                transform: skew(15deg);
            }
        }
    }
    &__image {
        width: 100%;
        height: 350px;
        background-color: blue;
        margin-top: 55px;
    }
}

.contactForm {
    &__input {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        border:none;
        border-bottom: $blue 5px solid;
        &::placeholder { 
            color: black;
            opacity: 1; 
            font-weight: 700;
        }
        &:focus {
            outline: none;
        }
        
    }
    &__inputSubmit {
        margin-left: 76%;
        width: 24%;
        padding: 0 10px;
        border:none;
        border-bottom: $yellow 5px solid;
        background-color: transparent;
        color: $blue;
        font-weight: 700;
        &:focus {
            border:none;
        }
    }
}

@media screen and (min-width: 786px) {
    .contact {
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row-reverse;
        justify-content: space-around;
        &__group {
            width: 45%;
        }
        &__image  {
            width: 45%;
            height: 475px;
            margin-left: 20px;
        }
    }    
}
  
