@import "../../styles/global.scss";

.contact {
    display: flex;
    flex-wrap: wrap;
    &__group {
        padding-top: 20px;
        width: 85%;
        margin: 0 auto;
    }
    &__title {
        font-size: $large;
        color: $blue;
        font-weight: $max-bold;
        margin-bottom: 0px;
        padding: 70px 20px;
        text-align: center;
        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }
        span{
            background-color: $blue;
            display: inline-block;
            transform: skew(-15deg);
            height: 40px;
            p {
                color: $white;
                text-transform: uppercase;
                padding: 5px 15px;
                display: inline-block;
                transform: skew(15deg);
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
    &__image {
        width: 100%;
        height: 450px;
        background-color: blue;
        margin-top: 55px;
    }
}

.contactForm {
    &__input {
        width: 100%;
        height: 55px;
        margin-bottom: 30px;
        border:none;
        border-bottom: $blue 5px solid;
        &::placeholder { 
            color: black;
            opacity: 1; 
            font-weight: 700;
        }
        &:focus {
            outline: none;
        }
        
    }
    &__inputSubmit {
        box-sizing: border-box;
        margin-left: 76%;
        width: 24%;
        padding: 0 10px;
        padding-bottom: 5px;
        border:none;
        border-bottom: $yellow 5px solid;
        background-color: transparent;
        color: $blue;
        font-weight: 700;
        &:focus {
            border-bottom:yellow 5px solid;;
        }
    }
}

@media screen and (min-width: 786px) {
    .contact {
        max-width: 1400px;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 20px;
        flex-direction: row-reverse;
        justify-content: space-around;
        &__group {
            width: 43%;
        }
        &__title {
            h2 {
                font-size: 45px;
            }
            line-height: 1.1;
            max-width: 500px;
            margin: 0 auto;
            span {
                height: 50px;
                p {
                    font-size: 45px;
                    line-height: 40px;
                    padding: 5px 40px;
                }
            }
        }
        &__image  {
            width: 43%;
            height: 765px;
            margin-left: 20px;
        }
    }    
    .contactForm {
        &__input {
            height: 75px;
            padding: 40px 0;
        }
    }
}
  
