.bitway-gallery-0 {
  grid-area: gal0;
}
.bitway-gallery-1 {
  grid-area: gal1;
}
.bitway-gallery-2 {
  grid-area: gal2;
}
.bitway-gallery-3 {
  grid-area: gal3;
}
.bitway-gallery-4 {
  grid-area: gal4;
}
.bitway-gallery-5 {
  grid-area: gal5;
}

.bitway-gallery {
  display: grid;
  grid-template-rows: 400px;
  gap: 20px;
}

.bitway-gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.bitway-gallery-item {
  position: relative;
  min-height: 400px;
}

.bitway-gallery-item-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ECAD380;
  color: white;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}


@media (max-width: 992px) {
  .bitway-gallery {
    grid-template-rows: 250px;
  }

  
  .bitway-gallery-item {
    min-height: 250px;
  }

}
