@import "../../styles/global.scss";

.RRSS__Social {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.RRSS__Social__Item {
  margin: 0 1.5rem 0 0;
}
.RRSS__Social__Link {
  color: #fff;
  font-size: 25px;
}

@media screen and (min-width: 992px) {
  .RRSS__Social__Item {
    margin: 0 0.75rem;
  }
  .RRSS__Social__Link {
    &:hover {
      color: $yellow;
    }
  }
}
