.NavBar {
  background-color: #2a2c2e !important;
}
.NavBar__Toggle {
  color: #1ecad3;
  border-color: #1ecad3;
}
.NavBar__List {
  margin-top: 2rem;
}
.NavBar__Item {
  padding: 0.5rem 1rem;
}
.NavBar__Link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.NavBar__Link:hover {
  text-decoration: none;
  color: #1ecad3;
}

@media screen and (min-width: 992px) {
  .NavBar {
    height: 8rem;
  }
  .NavBar__Collapse {
    /* DESKTOP */
    justify-content: flex-end;
  }
  .NavBar__List {
    margin-top: 0rem;
  }
  .NavBar__Item {
    margin-right: 5rem;
  }
}
