@import "../../styles/global.scss";

.NavBar {
  background-color: $nav-footer-container;
}
.NavBar__Logo {
  margin: 16px 28px;
  width: 79px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("https://strapi-s3-bitlogic.s3.sa-east-1.amazonaws.com/burger_menu_3ae79f1b8e.svg") !important;
  width: 2rem;
  height: 2rem;
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}
.NavBar__List {
  margin-top: 2rem;
}
.NavBar__Item {
  padding: 0.5rem 0.5rem;
}
.NavBar__Link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.NavBar__Link:hover {
  text-decoration: none;
  color: #1ecad3;
}

.NavBar__Link--active {
  text-decoration: none;
  color: #1ecad3;
}



@media screen and (min-width: 992px) {
  .NavBar__Logo {
    width: 143px;
    margin-left: 58px;
  }
  .NavBar__Collapse {
    /* DESKTOP */
    justify-content: flex-end;
  }
  .NavBar__List {
    margin-top: 0rem;
  }
  .NavBar__Item {
    margin-right: 2.5rem;
  }
}


.theme-toggle{
  background: none;
  border: none;
  img {
    margin: 0;
  }
}