.NavBar {
  background-color: #2a2c2e !important;
}
.NavBar__Logo {
  margin: 16px 28px;
  width: 79px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2830, 202, 211%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  width: 2rem;
  height: 2rem;
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}
.NavBar__List {
  margin-top: 2rem;
}
.NavBar__Item {
  padding: 0.5rem 1rem;
}
.NavBar__Link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.NavBar__Link:hover {
  text-decoration: none;
  color: #1ecad3;
}

.NavBar__Link--active {
  text-decoration: none;
  color: #1ecad3;
}

@media screen and (min-width: 992px) {
  .NavBar__Logo {
    width: 143px;
    margin-left: 58px;
  }
  .NavBar__Collapse {
    /* DESKTOP */
    justify-content: flex-end;
  }
  .NavBar__List {
    margin-top: 0rem;
  }
  .NavBar__Item {
    margin-right: 2.5rem;
  }
}
