@import "../../styles/global.scss";

.servicesSection {
  background-color: $primary-container;
  padding-top: 70px;
}

.serviceCard {
  &__description {
    p {
      color: $primary;
      font-size: $small;
    }
  }
  &__icon {
    margin: 30px auto;
    width: 100px;
  }
  &__title {
    color: $primary;
    font-weight: $bold;
    font-size: $medium;
    margin-bottom: 45px;
  }
  &__block {
    @extend %border-shadowed;
    background-color: rgba(255, 255, 255, 0.055);
    padding: 40px;
    margin-bottom: 45px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .serviceCard {
    &__description {
      p {
        font-size: $medium;
      }
    }
    &__title {
      font-size: $large;
    }
    &__icon {
      margin: 30px auto 0;
      width: 100px;
    }
  }
}
