.Services__BgImage {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.Services__Title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 25px;
  padding: 30px;
}

@media screen and (min-width: 776px) {
  .Services__Title {
    font-size: 4.5rem;
    line-height: 51px;
  }
}
