@import "../../../styles/global.scss";

.Footer__contactData {
  color: $white;

  &__contact {
    display: none;

    .icon-text {
      align-items: center;
      font-size: 18px;
      margin-bottom: 16px;
      text-wrap: pretty;
    }

    svg {
      margin-right: 8px;
    }

    @media screen and (min-width: $breakpoint-sm) {
      display: block;
    }
  }

  &__link {
    font-weight: 600;
    text-decoration: underline;
    font-size: 20px;
    color: $secondary;
  }
}
