@import "../../styles/global.scss";

.partners {
    background-color: $primary-container;
    padding: 30px;
    &__title {
        color: $blue;
        font-size: $large;
        font-weight: $bold;
        border-bottom: 4px solid $yellow;
        padding-bottom: 15px;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
    &__logos {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        margin-top: 10px;
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .partners {
        padding: 70px;
        &__logos {
            margin: 30px 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image {
            margin: 10px 10px 0 10px;
        }
    }
}

@media screen and (min-width: 992px) {
    .partners {
        &__title {
            font-size: $extra-large;
        }
    }
}