@import "../../styles/global.scss";

.bannerList {
  color: $primary;
  .card_item {
    h4{
      margin: 0;
    }
    a{
      color: inherit;
      &:hover{
        color: $secondary;
      }
    }
    img {
      margin: 0 10px 0 auto;
      width: 48px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
    button{
      margin-top: 10px;
      @include primaryBtn;
      align-self: baseline;
      a{
        color: inherit;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .bannerList {
    .card_item {
      img {
        width: 80px;
      }
    }
  }
}
