@import "../../styles/global.scss";

.bannerList {
  color: $primary;
  .card_item {
    p {
      text-align: justify;
      margin: 0 !important;
    }
    a{
      color: inherit;
    }
    img {
      width: 48px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
    button{
      margin-top: 30px;
      @include primaryBtn;
      align-self: baseline;
      a{
        color: inherit;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .bannerList {
    .card_item {
      img {
        width: 70px;
      }
    }
  }
}
