@import "../../styles/global.scss";

.bannerList {
  .card_item {
    p {
      text-align: justify;
      margin: 0 !important;
    }
    img {
      width: 48px;
    }
  }
  &__title {
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .bannerList {
    .card_item {
      img {
        width: 70px;
      }
    }
  }
}
