@import "../../styles/global.scss";

.Footer {
  background-color: $nav-footer-container;
  padding: 24px 0px 34px;

  &__Row {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 400px));
    gap: 32px;
  }

  &__Col {
    &__Subscription {
      grid-column: 1/3;
    }
  }

  @media (min-width: $breakpoint-md) {
    &__Row {
      width: 95%;
      margin: 0 auto;
      grid-template-columns: repeat(3, minmax(130px, 400px));
    }

    &__Col {
      &__Subscription {
        grid-column: 2/4;
      }
    }
  }

  @media (min-width: $breakpoint-xxl) {
    &__Row {
      grid-template-columns: repeat(5, minmax(130px, 250px));
      justify-content: space-evenly;
    }

    &__Col {
      &__Subscription {
        grid-column: auto;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .Footer {
    padding: 30px 50px;
  }
}