@import "../../styles/global.scss";

.Footer {
  background-color: $nav-footer-container;
  padding: 30px 20px 34px;
}

@media screen and (min-width: $breakpoint-xl) {
  .Footer {
    padding: 30px 50px;
    &__Col {
      padding-left: 20px;
    }
  }
}
