@import "../../styles/global.scss";

.Footer {
  background-color: $nav-footer-container;
  padding: 30px 0px 100px;

  h6 {
    font-size: 22px;
    margin-bottom: 16px;
    color: $white;
    text-wrap: pretty;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media screen and (min-width: $breakpoint-sm) {
    padding-bottom: 130px !important;

    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;

      & > div {
        flex-grow: 1;
        flex-basis: calc(50% - 24px);
      }
    }

    &__subscription {
      &__button {
        margin: 0;
      }
    }

    &__location {
      .icon-text {
        max-width: 100%;
      }
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    &__wrapper {
      & > div {
        flex-grow: 1;
        flex-basis: calc(33% - 24px) !important;
      }
    }

    &__socialMedia {
      margin-inline: 0;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 30px 50px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    &__wrapper {
      width: 95%;
      margin-inline: auto;

      & > div {
        flex: 1 !important;
      }
    }
  }
}
