.Footer {
  background-color: #2a2c2e;
  padding: 30px 15px 38px;
  width: 100vw;
}
.Footer__Logo {
  margin-bottom: 3rem;
}
.Footer__Col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 0;
}
.Footer__Col__Logo {
  align-self: center;
}

.Footer__Title__Text {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #1ecad3;
  margin-bottom: 1rem;
}

.Footer__Social {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.Footer__Social__Item {
  margin: 0 1.5rem 0 0;
}
.Footer__Social__Link {
  color: #fff;
  font-size: 2.5rem;
}
@media screen and (min-width: 992px) {
  .Footer {
    padding: 10rem;
  }
  /* .Footer__Container {
    height: 100%;
  } */
  .Footer__Logo {
    margin-bottom: 0;
  }
  .Footer__Col {
    align-items: center;
    justify-content: flex-start;
  }
  .Footer__Title__Text {
    margin-bottom: 1rem;
    text-align: center;
  }
}
