@import "../../styles/global.scss";

section {
  color: $primary;

  h2 {
    margin-bottom: 16px;
  }

  .summary {
    font-size: $medium;
  }

  & > div {
    gap: clamp(40px, 4vw, 60px);
  }

  @media screen and (min-width: $breakpoint-md) {
    h2 {
      text-align: center;
    }

    .summary {
      text-align: center;
      line-height: 28px;
    }
  }
}

.dualSection {
  &__title {
    display: block;
    font-size: clamp(24px, 4vw, 32px) !important;
    color: $primary;
    margin-block: 16px !important;
    font-weight: 700;

    &.active {
      transition: all 0.4s ease-in-out;
    }

    &.active:hover,
    &.active:active {
      color: $secondary;
      text-decoration: 2px underline $secondary;
    }
  }

  &__image {
    width: 100%;
    min-height: 250px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__textContainer {
    p,
    a {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
}

.one_sec {
  color: $primary;

  h4 {
    margin-bottom: 16px;
  }

  &-background {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 0 0 0;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  padding-top: 3em;
  padding-bottom: 3em;

  a {
    @include primaryBtn;
    display: block;
    width: max-content;
    padding: 10px 15px;

    @media screen and (min-width: $breakpoint-lg) {
      padding: 12px 30px;
    }
  }

  .gatsby-image-wrapper {
    display: block;
  }

  &-title {
    flex-basis: 45%;

    &-body {
      p,
      a {
        font-size: $medium;
        margin-bottom: 16px;
      }

      font-weight: 400 !important;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    min-height: 180px;
    flex-basis: 55%;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      width: 100%;
      padding: 0;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column-reverse;

    &-img {
      flex-basis: 100%;
    }

    &-title {
      flex-basis: 100%;
    }
  }
}
