.dark {
    --nav-footer-container: #383838;
    --blog-card-container: #383838;

    --primary: #ffffff;
    --primary-invert: #000000;
    --primary-hover: #000000;
    --primary-container: #292929;
    --border-bottom: #565656;
    --title-jobs: #1ecad3;
    --jobs-hover: #8383833b;

    --secondary: #67f293;
    --secondary-container: #191919;
    --bg-form: #FAF8F8;
    --bg-diagonal: #4A494B;
    --summary-color: #ffffff;
    --link-blog: #BBB3EC;
  }

  .light {
    --nav-footer-container: #2a2c2e;
    --blog-card-container: #f5f5f5;
    --primary: #000000;
    --primary-invert: #ffffff;
    --primary-hover: #000000;
    --primary-container: #faf8f8;
    --title-jobs: #5682c6;
    --jobs-hover: #f0f0f0;
    --secondary: #3f6be8;
    --secondary-container: #25cad3;
    --border-bottom: #cdcdcd;
    --bg-form: #DBDBDD;
    --bg-diagonal: #f2f0f7;
    --summary-color: rgba(0; 0; 0; 0.5);
    --link-blog: #0621E0;
  }