@import "../../styles/global.scss";

.bannerBgImage {
  &__bgImage {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-container;
  }
  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    margin-bottom: 30px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-size: $large;
      color: $blue;
      font-weight: $max-bold;
      margin-bottom: 0px;
      text-align: center;
    }

    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span,
    p span {
      background-color: $blue;
      display: inline-block;
      transform: skew(-15deg);
    }
    h1 span p,
    h2 span p,
    h3 span p,
    h4 span p,
    h5 span p,
    h6 span p,
    p span p {
      color: $primary-container;
      padding: 5px 20px;
      display: inline-block;
      transform: skew(15deg);
    }
  }
  &__link {
    color: $blue;
    font-size: $medium;
    font-weight: $max-bold;
    border-bottom: 4px solid $yellow;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}
.bannerBgColor {
  &__container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-container
  }
  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    margin-bottom: 30px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      font-size: $large;
      color: white;
      font-weight: $max-bold;
      margin-bottom: 10px;
      text-align: center;
    }

    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span,
    p span {
      background-color: $white;
      padding: 0px 30px;
      display: inline-block;
      transform: skew(-25deg);
    }
    h1 span p,
    h2 span p,
    h3 span p,
    h4 span p,
    h5 span p,
    h6 span p,
    p span p {
      color: $secondary-container;
      padding: 0 15px;
      display: inline-block;
      transform: skew(25deg);
      margin-bottom: 0;
    }
  }
  &__link {
    color: $white;
    font-size: $medium;
    font-weight: $max-bold;
    border-bottom: 4px solid $yellow;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

@media screen and (min-width: 992px) {
  .bannerBgImage,
  .bannerBgColor {
    &__title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      span,
      p {
        font-size: $extra-large;
      }
    }

    &__link {
      font-size: $large;
    }
  }
}
