@import "../../styles/global.scss";

.banner {
  width: 100%;
  height: 100%;

  &__wrapper {
    color: $primary;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cont-lottie {
    width: 100%;
    height: 100%;
  }

  &.background {
    .banner__wrapper {
      padding: 0;
    }

    .button {
      @include primaryBtn;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .bgImage {
      margin: 32px 0;
    }

    .title-background {
      text-align: center;
      padding: 48px 16px;
    }
  }

  &.hero {
    .banner__wrapper {
      padding: 16px 0;
    }

    .button {
      @include primaryBtn;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .imagen {
      width: 100%;
      height: 100%;
      padding: 1rem;
      min-height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      h1 {
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 0.8rem;
        word-wrap: initial;
      }

      h3 {
        font-weight: 400;
        text-align: left;
      }
    }
  }

  &.top {
    .button {
      @include primaryBtn;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .imagen {
      height: 100%;
      width: 100%;
      min-height: 200px;

      img {
        width: 100%;
      }
    }

    .title {
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        text-align: left;
        word-wrap: initial;
      }
    }
  }

  &.topReverse {
    .button {
      @include primaryBtn;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .imagen {
      width: 100%;
      height: 100%;
      min-height: 200px;

      img {
        width: 100%;
        max-width: 450px;
      }
    }

    .title {
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        text-align: center;
        word-wrap: initial;
      }
    }
  }

  &.diagonal {
    background-color: $bg-diagonal;
    padding: 32px 0;

    .banner__wrapper {
      min-height: 300px;
    }

    .button {
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
      font-weight: 600;
      color: #607ee7;
      text-decoration: underline;
      padding-left: 5px;
    }

    .imagen {
      width: 100%;
      height: 100%;
      min-height: 200px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .title {
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        color: #607ee7;
        margin-bottom: 0;
        word-wrap: initial;
      }
    }
  }

  &.diagonalReverse {
    .banner__wrapper {
      margin: 32px auto;
    }

    .imagen {
      width: 100%;
      height: 100%;
      min-height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .button {
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
      color: #607ee7;
      text-decoration: underline;
      padding-left: 5px;
    }

    .title {
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        color: #607ee7;
        margin-bottom: 0;
        word-wrap: initial;
      }
    }
  }

  .gatsby-image-wrapper {
    display: block;
  }

  @media screen and (min-width: $breakpoint-md) {
    &.background {
      .banner__wrapper {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100%;
      }

      .title-background {
        margin: 0 auto;
        width: 70%;
      }
    }

    &.hero {
      .title {
        flex: 1;
      }

      .imagen {
        flex: 1;

        img {
          width: 100%;
          object-fit: contain;
        }

        .cont-lottie {
          width: 600px;
          height: 600px;
        }
      }
    }

    &.top {
      .title {
        h2 {
          margin-bottom: 1rem;
          text-align: left;
        }
      }

      .imagen {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }

        .cont-lottie {
          width: 600px;
          height: 600px;
        }
      }
    }

    &.topReverse {
      .imagen {
        overflow: hidden;
        padding: 0;
        height: 100%;

        img {
          width: 100%;
          max-width: 600px;
        }

        .cont-lottie {
          width: 600px;
          height: 600px;
        }
      }

      .title {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        h2 {
          margin-bottom: 1rem;
          padding-right: 3rem;
          text-align: left;
        }

        h3 {
          font-weight: 400;
          padding-right: 3rem;
        }
      }
    }

    &.diagonal {
      padding: 0;

      .banner__wrapper {
        flex-direction: row;
        gap: 32px;
      }

      .imagen {
        min-height: 350px;
        height: max-content;
        overflow: hidden;
        padding: 0;
        -webkit-clip-path: polygon(17% 0, 100% 0, 100% 55%, 91% 100%, 0 100%);
        clip-path: polygon(17% 0, 100% 0, 100% 55%, 91% 100%, 0 100%);
        flex: 2;

        img {
          min-height: 350px;
          height: 100%;
        }
      }

      .title {
        padding: 20px 0;
        flex: 1;

        h2 {
          margin-bottom: 1rem;
          max-width: 300px;
        }

        h3 {
          font-weight: 400;
        }
      }
    }

    &.diagonalReverse {
      .banner__wrapper {
        height: 400px;
        flex-direction: row-reverse;
        max-width: 90%;
        margin-right: inherit;
        padding: 0;
      }

      .imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex: 1;

        img {
          object-fit: contain;
        }
      }

      .button {
        padding-left: 5rem;
      }

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $bg-diagonal;
        -webkit-clip-path: polygon(0 0, 92% 0, 100% 45%, 100% 100%, 17% 100%);
        clip-path: polygon(0 0, 92% 0, 100% 45%, 100% 100%, 17% 100%);
        padding: 0;
        flex: 2;

        & > div {
          width: 70%;
        }

        h2 {
          margin-bottom: 1rem;
        }

        h3 {
          font-weight: 400;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    .banner__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    &.background {
      .title-background {
        h1 {
          padding-bottom: 20px;
        }
      }
    }

    &.hero {
      .banner__wrapper {
        flex-direction: row;
        height: 600px;
        gap: 32px;
      }

      .imagen {
        max-height: 800px;
        overflow: hidden;
        padding: 0;

        .gatsby-image-wrapper.gatsby-image-wrapper-constrained {
          width: 100%;
          height: 100%;

          img {
            object-fit: contain !important;
          }
        }

        .cont-lottie {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        h1 {
          margin-bottom: 1rem;
        }

        h3 {
          font-weight: 400;
        }
      }
    }

    &.top {
      .banner__wrapper {
        gap: 32px;
      }

      .imagen {
        flex: 1;

        img {
          max-height: 800px;
          overflow: hidden;
          padding: 0;
        }

        .cont-lottie {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        flex: 1;

        h2 {
          padding-right: 0rem;
        }
      }
    }

    &.topReverse {
      .banner__wrapper {
        flex-direction: row-reverse;
        gap: 32px;
      }

      .title {
        flex: 1;
      }

      .imagen {
        flex: 1;

        .cont-lottie {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.diagonal {
      .banner__wrapper {
        max-height: 450px;
      }

      .imagen {
        .cont-lottie {
          width: 100%;
          height: 400px;
        }
      }

      .title {
        h2 {
          margin-bottom: 1rem;
          max-width: 400px;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-xxl) {
    &.hero,
    &.top,
    &.topReverse,
    &.diagonal {
      .banner__wrapper {
        gap: 50px;
      }
    }

    &.diagonal {
      .banner__wrapper {
        margin-right: 0;
        margin-left: 200px;
        max-width: calc(100% - 200px);
        padding: 0;
      }

      .title {
        display: flex;
        justify-content: end;
      }
    }
  }
}
