@import "../../styles/global.scss";

.cats-job-title {
    a {
        color: rgb(86, 130, 198);
        font-weight: 700;
    }
}

.cats-job {
    border-bottom: 1px solid  #cdcdcd;
    padding-left: 15px !important;
    
    &:hover {
        background-color: #faf5f5 !important;
        cursor: pointer;
    }
}

.widget-container {
    min-height: 65vh;
    margin-top: 20px !important;
    margin-bottom: 70px !important;
}

.cats-powered-by {
    display: none;
}

.cats-column-header{
    padding-left: 15px !important;
}

.banner__head {
    width: 100%;
    background: #303234;
    min-height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        color:$blue;
        font-size: $second-large;
        span{
            background-color: $blue;
            display: inline-block;
            -webkit-transform: skew(-15deg);
            transform: skew(-15deg);

            p {
                padding: 5px 20px;
                -webkit-transform: skew(15deg);
                transform: skew(15deg);
                color: $white !important;
                font-size: $second-large;
                margin: 0;
            }
        }   
    }
    h3{
        color: $white;
        //border-bottom: 4px solid $blue;
        //padding: 7px;
        line-height: 30px;
        font-size: $medium;
        text-align: center;
        padding: 0px 15px;
    }
}

@media (min-width: $breakpoint-tablet) {
    .widget-container {
        margin-top: 70px !important;
    }
    .banner__head {
        h2 {
            font-size: $extra-large;
            p{
                font-size: $extra-large;
            }
        }
        h3 {
            font-size: $large;
            border-bottom: 4px solid $blue;
            padding: 7px;
        }
    }
}