@import "../../styles/global.scss";

.videoBackground {
  &-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  video,
  iframe {
    width: 100%;
    height: 195px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }
  &-card {
    width: 100%;
    backdrop-filter: blur(14px);
    color: white;
    border-radius: 5px;
    background: #e8e8e8c5;
    box-shadow: 0px 0px 3px #00000044;
    word-wrap: break-all;
    padding: 15px;
  }
  h5 {
    width: 100%;
    color: $grey;
  }
  button {
    @include secondaryBtn;
    a {
      color: $grey;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .videoBackground {
    // width: calc(100% - 6em);
    height: 400px;
    position: relative;
    z-index: 3;
    display: flex;
    // margin: 3em;
    &-container {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    .video {
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      cursor: pointer;
      // border-radius: 20px;
    }
    &-card {
      z-index: 4;
      align-self: flex-end;
      flex-basis: 1;
      max-width: 700px;
      backdrop-filter: blur(14px);
      color: white;
      border-radius: 5px;
      background: #e8e8e8c5;
      box-shadow: 0px 0px 3px #00000044;
      margin: 2em;
      padding: 2em;

      h5 {
        color: $grey;
      }
      button {
        @include secondaryBtn;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .videoBackground {
    height: 520px;
    &-container {
      margin-bottom: 80px;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .videoBackground {
    height: 720px;
  }
}

// @media screen and (max-width: $breakpoint-md) {
//   .videoBackground {
//     height: 500px;
//     video {
//       height: 80%;
//     }
//     &-card {
//       height: 20%;
//     }
//   }
// }
