@import "../../styles/global.scss";

.videoBackground {
  aspect-ratio: 1.91/1;
  max-width: 100%;

  &-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  video,
  iframe {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 0px;
  }

  &-card {
    width: 100%;
    backdrop-filter: blur(14px);
    color: white;
    border-radius: 5px;
    background: #e8e8e8c5;
    box-shadow: 0px 0px 3px #00000044;
    word-wrap: break-all;
    padding: 15px;
  }

  h4 {
    width: 100%;
    margin-bottom: 8px;
    color: $grey;
  }

  a {
    @include secondaryBtn;
    color: $grey;
    display: block;
    width: max-content;
    padding: 8px 16px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .videoBackground {
    height: 400px;
    position: relative;
    z-index: 3;
    display: flex;

    .video {
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      cursor: pointer;
    }

    &-card {
      z-index: 4;
      align-self: flex-end;
      flex-basis: 1;
      max-width: 700px;
      backdrop-filter: blur(14px);
      color: white;
      border-radius: 5px;
      background: #e8e8e8c5;
      box-shadow: 0px 0px 3px #00000044;
      margin: 2em;
      padding: 2em;

      h4 {
        color: $grey;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .videoBackground {
    height: 520px;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .videoBackground {
    height: 720px;
  }
}