@import "../../styles/global.scss";

.videoBackground {
  max-width: 100%;

  &-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  video,
  iframe {
    width: 100%;
    min-height: 220px;
    max-height: 650px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 0px;
    aspect-ratio: 16/9;
    cursor: pointer;
  }

  &-card {
    width: 100%;
    backdrop-filter: blur(14px);
    color: white;
    border-radius: 5px;
    background: #e8e8e8c5;
    box-shadow: 0px 0px 3px #00000044;
    word-wrap: break-all;
    padding: 15px;
  }

  .image {
    width: 100%;
    min-height: 220px;
    max-height: 650px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: 0px;
    aspect-ratio: 16/9;
    cursor: pointer;
  }

  h2 {
    font-size: 28px;
    width: 100%;
    margin-bottom: 8px;
    color: $grey;
  }

  a {
    @include secondaryBtn;
    color: $grey;
    display: block;
    width: max-content;
    padding: 8px 16px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .videoBackground {
    position: relative;

    &-card {
      position: absolute;
      bottom: 0;
      max-width: calc(700px - 60px);
      backdrop-filter: blur(14px);
      border-radius: 5px;
      background: #e8e8e8c5;
      box-shadow: 0px 0px 3px #00000044;
      margin: 2em;
      padding: 32px;
    }
  }
}
